<!doctype html>
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Contact Us
    </title>
    <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
       <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
    <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
                background-repeat: no-repeat;
                background-attachment: fixed;
                
            }
        </style>
   
</head>
   
<body> 
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Northwest Missouri State University</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <a href="index.html">Home</a>
            </div>
            <div class="form-group">
              <a href="aboutme.html">About Me</a>
            </div>
            <div class="form-group">
             <a  href="bookorder.html">Tution Fee Calculation</a>
            </div>
            <div class="form-group">
            <a href="contact.html">Contact</a>
            </div>
            <div class="form-group">
               <a href="guest.html">GuestBook</a>
            </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav> 
    
<div class="row">
  <img src="Northwest.jpg">
</div>
<div class="row2">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
  <p>
  <p>On behalf of the Northwest community, welcome to Northwest Missouri State University's website. As Northwest's president, it is my privilege to invite you to explore the varying links across our acclaimed academic programs, extensive co-curricular experiences, and so much more.
My Northwest colleagues and I know the Northwest experience is truly one that helps shape future leaders. Survey after survey shows Northwest is a national leader in both student satisfaction and degree completion. The heartfelt commitment of our faculty and staff to your development, both in and beyond the classroom, is one of Northwest's finest assets. Engaged alumni remain connected and quite supportive of the University's efforts, and Northwest's many partners are equally committed to the institution's success.
Northwest is an exceptional place to learn, live and grow no matter your academic pursuits. Please call us at 660.562.1212 if you have any questions, and feel free to email me directly at president@nwmissouri.edu.

The warmest of welcomes,
Northwest Missouri State University
  </p>
  </p>
  </div>
</div>
</body>
</html>